.index{
    margin-top: 12.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.title{
    font-size: 3rem;
}

@media only screen and (max-width: 768px) {
    .index{
      padding: 0.5rem;
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }