.code-editor {
    outline: none;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 75%; /* Ensure it takes full width */
    height: 300px; /* Adjust as needed for a fixed height or use flex settings for dynamic height */
}

.monaco-editor {
    padding-top: 20px;
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px;
}

.monaco-editor .overflow-guard {
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px;
}

.monaco-editor .overflow-guard:first-child {
    width: 100% !important;
    height: 100% !important;
}
